In [481]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import re

%matplotlib inline

In [482]:
!head data/Master.csv

In [522]:
master_players = pd.read_csv('data/Master.csv')
master_players

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,9/10/2001,4/13/2006,abada001,abadan01
5,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220,73,L,L,7/28/2010,9/27/2014,abadf001,abadfe01
6,abadijo01,1854,11,4,USA,PA,Philadelphia,1905,5,17,...,Abadie,John W.,192,72,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877,4,15,USA,PA,Latrobe,1957,1,6,...,Abbaticchio,Edward James,170,71,R,R,1897-09-04,9/15/1910,abbae101,abbated01
8,abbeybe01,1869,11,11,USA,VT,Essex,1962,6,11,...,Abbey,Bert Wood,175,71,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866,10,14,USA,NE,Falls City,1926,4,27,...,Abbey,Charles S.,169,68,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862,3,16,USA,OH,Portage,1930,2,13,...,Abbott,Leander Franklin,190,71,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874,10,22,USA,OH,Versailles,1935,6,11,...,Abbott,Harry Frederick,180,70,R,R,4/25/1903,9/20/1905,abbof101,abbotfr01
12,abbotgl01,1951,2,16,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200,78,R,R,7/29/1973,8/8/1984,abbog001,abbotgl01
13,abbotje01,1972,8,17,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190,74,R,L,6/10/1997,9/29/2001,abboj002,abbotje01
14,abbotji01,1967,9,19,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200,75,L,L,4/8/1989,7/21/1999,abboj001,abbotji01
15,abbotku01,1969,6,2,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180,71,R,R,9/7/1993,4/13/2001,abbok002,abbotku01
16,abbotky01,1968,2,18,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200,76,L,L,9/10/1991,8/24/1996,abbok001,abbotky01
17,abbotod01,1888,9,5,USA,PA,New Eagle,1933,4,13,...,Abbott,Ody Cleon,180,74,R,R,9/10/1910,10/15/1910,abboo101,abbotod01
18,abbotpa01,1967,9,15,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185,75,R,R,8/21/1990,8/7/2004,abbop001,abbotpa01
19,aberal01,1927,7,31,USA,OH,Cleveland,1993,5,20,...,Aber,Albert Julius,195,74,L,L,9/15/1950,9/11/1957,abera101,aberal01
20,abercda01,1850,1,2,USA,OK,Fort Towson,1939,11,11,...,Abercrombie,Francis Patterson,NaN,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980,7,15,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215,75,R,R,4/4/2006,9/28/2008,aberr001,abercre01
22,abernbi01,1929,1,30,USA,CA,Torrance,2006,2,19,...,Abernathie,William Edward,190,70,R,R,9/27/1952,9/27/1952,aberb101,abernbi01
23,abernbr01,1977,9,23,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185,73,R,R,6/25/2001,9/29/2005,aberb001,abernbr01
24,abernte01,1921,10,30,USA,NC,Bynum,2001,11,16,...,Abernathy,Talmadge Lafayette,210,74,R,L,9/19/1942,4/29/1944,abert102,abernte01
25,abernte02,1933,3,6,USA,NC,Stanley,2004,12,16,...,Abernathy,Theodore Wade,215,76,R,R,4/13/1955,9/30/1972,abert101,abernte02
26,abernwo01,1915,2,1,USA,NC,Forest City,1994,12,5,...,Abernathy,Virgil Woodrow,170,72,L,L,7/28/1946,4/17/1947,aberw101,abernwo01
27,aberscl01,1921,8,28,USA,IL,Chicago,1973,6,23,...,Aberson,Clifford Alexander,200,72,R,R,7/18/1947,5/9/1949,aberc101,aberscl01
28,ablesha01,1883,10,4,USA,TX,Terrell,1951,2,8,...,Ables,Harry Terrell,200,74,R,L,9/4/1905,5/5/1911,ableh101,ablesha01
29,abnersh01,1966,6,17,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190,73,R,R,9/8/1987,10/3/1992,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18559,zimmejo01,1975,4,28,CAN,BC,Kelowna,NaN,NaN,NaN,...,Zimmerman,Jordan William,200,72,R,L,5/17/1999,7/2/1999,zimmj002,zimmejo01
18560,zimmejo02,1986,5,23,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,220,74,R,R,4/20/2009,9/28/2014,zimmj003,zimmejo02
18561,zimmero01,1916,9,13,USA,PA,Pine Grove,1991,11,22,...,Zimmerman,Roy Franklin,187,74,L,L,8/27/1945,9/30/1945,zimmr101,zimmero01
18562,zimmery01,1984,9,28,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,220,75,R,R,9/1/2005,9/28/2014,zimmr001,zimmery01
18563,zinkch01,1979,8,26,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190,73,R,R,8/12/2008,8/12/2008,zinkc001,zinkch01
18564,zinkwa01,1898,11,21,USA,MA,Pittsfield,1964,6,12,...,Zink,Walter Noble,165,72,R,R,7/6/1921,7/19/1921,zinkw101,zinkwa01
18565,zinnfr01,1865,12,21,USA,PA,Phoenixville,1936,5,12,...,Zinn,Frank Patrick,150,68,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
18566,zinngu01,1887,2,13,USA,WV,Holbrook,1949,10,6,...,Zinn,Guy,170,70,L,R,9/11/1911,9/16/1915,zinng101,zinngu01
18567,zinnji01,1895,1,21,USA,AR,Benton,1991,2,26,...,Zinn,James Edward,195,72,L,R,9/4/1919,8/25/1929,zinnj101,zinnji01
18568,zinsebi01,1918,1,6,USA,NY,Astoria,1993,2,16,...,Zinser,William Francis,185,73,R,R,8/19/1944,8/26/1944,zinsb101,zinsebi01
18569,zinteal01,1968,5,19,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200,74,B,R,6/18/2002,10/3/2004,zinta001,zinteal01
18570,zipfebu01,1938,11,18,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200,75,L,R,7/26/1961,9/30/1962,zipfb101,zipfebu01
18571,ziskri01,1949,2,6,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200,73,R,R,9/8/1971,9/21/1983,ziskr101,ziskri01
18572,zitoba01,1978,5,13,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205,74,L,L,7/22/2000,9/29/2013,zitob001,zitoba01
18573,zitzmbi01,1895,11,19,USA,NY,Long Island City,1985,5,29,...,Zitzmann,William Arthur,175,70,R,R,4/27/1919,9/25/1929,zitzb101,zitzmbi01
18574,zmiched01,1884,10,1,USA,OH,Cleveland,1950,8,20,...,Zmich,Edward Albert,180,72,L,L,7/23/1910,6/1/1911,zmice101,zmiched01
18575,zobribe01,1981,5,26,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210,75,B,R,8/1/2006,9/27/2014,zobrb001,zobribe01
18576,zoccope01,1977,2,6,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200,74,L,R,9/5/2003,9/28/2003,zoccp001,zoccope01
18577,zoldasa01,1918,12,8,USA,NY,Brooklyn,1966,8,25,...,Zoldak,Samuel Walter,185,71,L,L,5/13/1944,8/26/1952,zolds101,zoldasa01
18578,zoskyed01,1968,2,10,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175,72,R,R,9/2/1991,10/1/2000,zoske001,zoskyed01
18579,zuberbi01,1913,3,26,USA,IA,Middle Amana,1982,11,2,...,Zuber,William Henry,195,74,R,R,9/16/1936,9/23/1947,zubeb101,zuberbi01
18580,zuberjo01,1969,12,10,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190,73,L,L,4/19/1996,9/27/1998,zubej001,zuberjo01
18581,zuletju01,1975,3,28,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230,78,R,R,4/6/2000,6/25/2001,zulej001,zuletju01
18582,zumayjo01,1984,11,9,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215,75,R,R,4/3/2006,6/28/2010,zumaj001,zumayjo01
18583,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220,74,R,R,6/12/2013,9/28/2014,zunim001,zuninmi01
18584,zupcibo01,1966,8,18,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220,76,R,R,9/7/1991,8/4/1994,zupcb001,zupcibo01
18585,zupofr01,1939,8,29,USA,CA,San Francisco,2005,3,25,...,Zupo,Frank Joseph,182,71,L,R,7/1/1957,5/9/1961,zupof101,zupofr01
18586,zuvelpa01,1958,10,31,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173,72,R,R,9/4/1982,5/2/1991,zuvep001,zuvelpa01
18587,zuverge01,1924,8,20,USA,MI,Holland,2014,9,8,...,Zuverink,George,195,76,R,R,4/21/1951,6/15/1959,zuveg101,zuverge01
18588,zwilldu01,1888,11,2,USA,MO,St. Louis,1978,3,27,...,Zwilling,Edward Harrison,160,66,L,L,8/14/1910,7/12/1916,zwild101,zwilldu01

In [484]:
fielding_data = pd.read_csv('data/Fielding.csv')

In [485]:
batting_data = pd.read_csv('data/Batting.csv')

In [486]:
salary_data = pd.read_csv('data/Salaries.csv')

In [487]:
new_data = pd.merge(batting_data, master_players)
all_data = pd.merge(new_data, salary_data)

In [488]:
del all_data['weight']
del all_data['height']
del all_data['bats']
del all_data['throws']

In [489]:
#all_data = pd.merge(all_data, fielding_data)

In [490]:
del all_data['G']

In [491]:
all_data.head()
del all_data['deathCity']
del all_data['3B']
del all_data['R']

In [492]:
all_data.head()
del all_data['RBI']
del all_data['deathState']
del all_data['HR']

In [493]:
all_data.head()
del all_data['deathCountry']
del all_data['CS']
del all_data['SB']

In [494]:
all_data.head()
del all_data['deathDay']
del all_data['SO']
del all_data['2B']

In [495]:
all_data.head()
del all_data['deathYear']
del all_data['IBB']

In [496]:
all_data.head()
del all_data['birthCity']
del all_data['SH']
del all_data['birthState']

In [497]:
all_data.head()
del all_data['deathMonth']
del all_data['teamID']

In [498]:
all_data.head()
del all_data['GIDP']
del all_data['birthCountry']

In [499]:
all_data.head()
del all_data['birthYear']
del all_data['birthDay']

In [500]:
all_data.head()
del all_data['birthMonth']
del all_data['retroID']
del all_data['bbrefID']

In [501]:
all_data = all_data[all_data.yearID == 1985]

In [502]:
del all_data['stint']

In [503]:
del all_data['nameGiven']
del all_data['debut']
del all_data['finalGame']

In [504]:
all_data = all_data.dropna()

In [505]:
del fielding_data['stint']
del fielding_data['teamID']
del fielding_data['G']
del fielding_data['GS']
del fielding_data['InnOuts']
del fielding_data['PO']
del fielding_data['A']
del fielding_data['E']
del fielding_data['DP']
del fielding_data['PB']
del fielding_data['WP']
del fielding_data['SB']
del fielding_data['CS']
del fielding_data['ZR']

In [506]:
fielding_data = fielding_data[fielding_data.yearID == 1985]
full_data = pd.merge(fielding_data, all_data)

In [507]:
full_data = full_data.drop_duplicates()

In [508]:
full_data['OBP'] = (full_data['H']+full_data['BB']+full_data['HBP'])/(full_data['AB']+full_data['BB']+full_data['HBP']+full_data['SF'])

In [509]:
full_data.head()

,playerID,yearID,lgID,POS,AB,H,BB,HBP,SF,nameFirst,nameLast,salary,OBP
0,agostju01,1985,AL,P,0,0,0,0,0,Juan,Agosto,147500,NaN
1,aguaylu01,1985,NL,2B,165,46,22,6,3,Luis,Aguayo,237000,0.377551
2,aguaylu01,1985,NL,3B,165,46,22,6,3,Luis,Aguayo,237000,0.377551
3,aguaylu01,1985,NL,SS,165,46,22,6,3,Luis,Aguayo,237000,0.377551
4,allenne01,1985,NL,P,2,0,0,0,0,Neil,Allen,750000,0.000000

In [510]:
full_data['ratio'] = full_data['OBP']/full_data['salary']

In [511]:
full_data = full_data.dropna()

In [512]:
moneyball85 = full_data.sort(['ratio'], ascending=False)

In [513]:
moneyball85 = moneyball85[moneyball85.AB > 10]

In [514]:
moneyball85 = moneyball85.reset_index()

In [515]:
del moneyball85['index']

In [518]:
moneyball85 = moneyball85.drop_duplicates(['playerID'])

In [520]:
moneyball85 = moneyball85.drop_duplicates(['POS'])

In [521]:
moneyball85

,playerID,yearID,lgID,POS,AB,H,BB,HBP,SF,nameFirst,nameLast,salary,OBP,ratio
0,brownch02,1985,NL,3B,432,117,38,11,0,Chris,Brown,60000,0.345114,0.000006
1,orsuljo01,1985,NL,CF,397,119,26,1,3,Joe,Orsulak,60000,0.341920,0.000006
5,davisgl01,1985,NL,RF,350,95,27,7,4,Glenn,Davis,60000,0.332474,0.000006
8,salasma01,1985,AL,C,360,108,18,1,3,Mark,Salas,60000,0.332461,0.000006
10,sheetla01,1985,AL,1B,328,86,28,2,1,Larry,Sheets,60000,0.323120,0.000005
15,colemvi01,1985,NL,OF,636,170,50,0,1,Vince,Coleman,60000,0.320233,0.000005
22,duncama01,1985,NL,2B,562,137,38,3,4,Mariano,Duncan,60000,0.293245,0.000005
24,guilloz01,1985,AL,SS,491,134,12,1,1,Ozzie,Guillen,60000,0.291089,0.000005
27,brownto05,1985,NL,P,88,17,4,0,0,Tom,Browning,60000,0.228261,0.000004
32,teufeti01,1985,AL,DH,434,113,48,3,4,Tim,Teufel,110000,0.335378,0.000003
64,bushra01,1985,AL,LF,234,56,24,5,2,Randy,Bush,120000,0.320755,0.000003